{% extends 'base_qa.html' %}
{% load django_markdown %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}



{% block content %}
<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
<div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 col-xs-12 text-left">
            <h1>{{ user.username }}</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 col-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">Profile</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= User Profile =-=-=-=-=-=-= -->
    <section id="user-profile" class="user-profile parallex">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="profile-sec ">
              <div class="profile-head">
                <div class="col-md-6 col-xs-12 col-sm-6 no-padding">
                  <div class="profile-avatar">
                    <span><img class="img-responsive img-circle" alt="" src="{{ profil.photo_profil.image.url }}"></span>
                    <div class="profile-name">
                      <h3>{{ user.first_name }}-{{ user.last_name }}</h3>
                      <i>{{ profil.fonction }}</i>
                      <ul class="social-btns">
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 no-padding">
                  <ul class="profile-count">
                    <li>{{ nbAnswer }}<i>Réponses</i>
                    </li>
                    <li>{{ profil.points }}<i>Points</i>
                    </li>
                    <li>{{ nbQusetion }}<i>Questions</i>
                    </li>
                  </ul>
                  <ul class="profile-connect">
                    <li><a title="" href="#">Follow</a>
                    </li>
                    <li><a title="" href="#">Hire Me</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Profile Sec -->
          </div>

        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= User Profile end =-=-=-=-=-=-= -->
    
 <!-- =-=-=-=-=-=-= User Form Settings =-=-=-=-=-=-= -->
    <section class="section-padding-80" id="login">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">

            <div class="box-panel">

              <form method="post" action="/change_img/">
                 {% csrf_token %}
                <div class="form-group">
                  <label>Upload Image</label>
                  <div class="input-group">
                    <span class="input-group-btn">
                {% render_field formimg.image class="form-control" %} 

                    </span>
                  </div>
                  <img id="img-upload" src="{{ profil.photo_profil.image.url }}" alt="">
                </div>

                <button class="btn btn-primary btn-lg">Change Image</button>

              </form>

            </div>
          </div>

          <div class="col-md-8">

            <div class="box-panel">

              <!-- form login -->
              <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
                <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                   <form action="/updateprofil/" method="post">
                   {% csrf_token %}
                                       <input type="hidden" name="user" value="{{ user.id }}">

                      <h1>Fooooooo</h1>                

                          <div id="div_id_date_naissance" class="form-group"> 
                      <div class="form-group">
                          
                      <div class="col-xs-6">
                              <label for="username"><h4>Username</h4></label>
                              {% render_field formuser.username class="form-control" name="username" id="first_name" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      <div class="form-group">
                          
                      <div class="col-xs-6">
                              <label for="last_name"><h4>Prenom : </h4></label>
                              {% render_field formuser.last_name class="form-control" name="last_name" id="last_name" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                          
                      <div class="form-group">    
                      <div class="col-xs-6">
                              <label for="first_name"><h4>Nom : </h4></label>
                              {% render_field formuser.first_name class="form-control" name="first_name" id="first_name" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      </div>

                      <div class="form-group">                          
                      <div class="col-xs-6">
                              <label for="email"><h4>Email : </h4></label>
                              {% render_field formuser.email class="form-control" name="email" id="email" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div> 


                      <div class="form-group">
                      <div class="col-xs-6">
                              <label for="website"><h4>website </h4></label>
                              {% render_field form.website class="form-control" name="website" id="website" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      <div class="form-group">
                          
                      <div class="col-xs-6">
                              <label for="facebook"><h4>facebook :</h4></label>
                              {% render_field form.facebook class="form-control" name="facebook" id="facebook" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      
                      <div class="form-group">    
                      <div class="col-xs-6">
                              <label for="youtube"><h4>youtube : </h4></label>
                              {% render_field form.youtube class="form-control" name="youtube" id="youtube" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      

                      <div class="form-group">    
                      <div class="col-xs-6">
                              <label for="instagram"><h4>instagram : </h4></label>
                              {% render_field form.instagram class="form-control" name="instagram" id="instagram" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>    


                      <div class="form-group">
                      <div class="col-xs-6">
                              <label for="linkedin"><h4>linkedin </h4></label>
                              {% render_field form.linkedin class="form-control" name="linkedin" id="linkedin" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      <div class="form-group">
                          
                      <div class="col-xs-6">
                              <label for="tel"><h4>tel :</h4></label>
                              {% render_field form.tel class="form-control" name="tel" id="tel" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>

                      <div class="form-group">    
                      <div class="col-xs-6">
                              <label for="ville"><h4>ville : </h4></label>
                              {% render_field form.ville class="form-control" name="ville" id="ville" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      
                      <div class="form-group">    
                      <div class="col-xs-6">
                              <label for="pays"><h4>pays : </h4></label>
                              {% render_field form.pays class="form-control" name="pays" id="pays" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div> 

                      <div class="form-group">
                      <div class="col-xs-6">
                              <label for="fonction"><h4>fonction : </h4></label>
                              {% render_field form.fonction class="form-control" name="fonction" id="fonction" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div> 

                      <div class="form-group">
                      <div class="col-xs-6">
                              <label for="service"><h4>service </h4></label>
                              {% render_field form.service class="form-control" name="service" id="service" placeholder="" title="enter your first name if any." %}
                          </div>
                      </div>
                      
                      <br><br><br><br>
                      <hr>
                      <button class="btn btn-lg btn-success pull-right" style="margin: 15px;" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                </form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                </form>
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
                
                
                  <hr>
                     <table class="col-md-12" border="1" width="100%">
                        <thead>
                            <th data-field="id">Titre</th>
                          <th data-field="salary" data-sortable="true">Date de publication</th>
                          <th data-field="country" data-sortable="true">Status</th>
                          <th data-field="city">Actions</th>
                        </thead>
                        <tbody>
                          {% for q in  mesQusetion %}
                            <tr>
                              <td style="padding: 5px;" >{{ q.question_title|truncatechars_html:50 }}</td>
                              <td style="padding: 5px;">{{ q.pub_date }}</td>
                              <td style="padding: 5px;">
                                {% if q.closed == False %}
                                <span class="label-success label label-default">Ouverte</span>
                                {% else %}
                                <span class="label-warning label label-default">Fermer</span>
                                {% endif %}
                              </td>

                              <td style="padding: 5px;">
                                <form action="/q/{{ q.id }}"/>
                                <button class="btn btn-success btn-sm"  >
                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    View
                                </button>
                                </form>
                                <a class="btn btn-info btn-sm" href="/updateq/{{ q.id }}" style="margin-bottom: 5px; margin-top: 5px;">
                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                    Edit
                                </a>
                                <br>
                                <form method="post" action="/closequestion/">
                                  {% csrf_token %} 
                                  <input type="hidden" name="question_id" value="{{ q.id }}">
                                <button class="btn btn-danger btn-sm" >
                                {% if q.closed == False %}
                                    <input type="hidden" name="closequestion" value="True">

                                    <i class=" glyphicon glyphicon-remove icon-white"></i>
                                    Fermer
                       
                                    {% else %}
                                   <input type="hidden" name="closequestion" value="False">
                                    <i class="glyphicon glyphicon-ok icon-white"></i>
                                    Open
                               
                                    {% endif %}
                                   </button>
                                 </form> 
                                <!-- <a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                                <br>
                                <a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                                <br>
                                <a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)"><i class="fa fa-remove"></i></a> -->
                              </td>
                            </tr>
                          {% endfor %}  
                        </tbody>
                    </table>
                    
                    <!-- Pagination View More -->
                    <div class="text-center clearfix">
                      <!-- <button class="btn btn-primary btn-lg">View All Question</button> -->
                      <div class="pagination center-block">
                                <span class="step-links">
                                 <div class="clearfix"></div>
                                  <nav aria-label="">
                                    <ul class="pager">
                                      {% if mesQusetion.has_previous %}
                                          <li><a href="?page={{ mesQusetion.previous_page_number }}">Précédent</a></li>
                                      {% endif %}

                                       <span class="current">
                                         {{ mesQusetion.number }} / {{ mesQusetion.paginator.num_pages }}
                                      </span>

                                      {% if mesQusetion.has_next %}
                                          <li><a href="?page={{ mesQusetion.next_page_number }}">Suivant</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                </span>
                      </div>
                    </div>
                    <!-- Pagination View More End -->
                    
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

          <script type="text/javascript">
            $(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
});
          </script>
              <!-- form login -->

            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
 <!-- =-=-=-=-=-=-= User Form Settings End =-=-=-=-=-=-= -->
 
    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
    <section class="custom-padding white" id="clients">
      <div class="container">

        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_5.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_6.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_7.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_8.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_9.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_10.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

        </div>
        <!-- Row End -->

      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->              

{% endblock content %}